.box{
  width: 80vw;
  /* background-color: thistle; */
  margin:0 auto;
  height: min-content;
}
/* 轮播图 */
.lunbo{
  /* display: flex; */
  width: 80vw;
  height: 25vw;
  /* background-color: rgb(223, 239, 253); */
}


/* 近期 */
.recent{
  width: 80vw;
  height: min-content;
  /* background-color: rgb(179, 230, 245); */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}